.select-shelf-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
}
.select-shelf-btn span{
  position: absolute;
  color: white;
  left: 14px;
  top: 13px;
}
.select-shelf-btn select{
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
