.book-listings-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}
.book-listings-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: none;
}
.open-search span{
  position: absolute;
  color: white;
  z-index: 1;
  left: 18px;
  top: 10px;
}
